@media (max-width: 854px)
{
    #contectcon 
    {
        height: 135%; 
    }
    #submetform > #heading
    {
        left: 32%;
    }
    #submetform > p 
    {
        left: 19%;
        top: 47%;
    }
    #username 
    {
        width: 43%;
        left: 5%;
    }
    #reason 
    {
        width: 43%;
        right: 5%;
    }
    #email 
    {
        width: 50%;
        left: 25%;
    }
    #massagebox 
    {
        width: 80%;
        right: 10%;
    }
    #submitBtn {
        top: 93%;
        width: 28%;
        height: 5%;
    }
    footer 
    {
        top: 135%;
    }
    footer > #footerloga > img 
    {
        top: 7%;
        width: 95%;
        height: 95%;
    }
}