*
{
    margin: 0px;
    padding: 0px;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    left: 0%;
    right: 0%;
    overflow-y: 0%;
    overflow-x: 0%;
}
#grid-con
{
    display: grid;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 280%;
    padding: 0%;
    margin: 0%;
    grid-template-rows: 5fr 4fr 3fr;
    grid-template-columns: 1fr;
    background-image: linear-gradient(50deg, rgb(7, 71, 68), rgb(0, 217, 255));
    color: rgb(173, 173, 173);
    text-shadow: 1px 0px 2px black;
    /* background-color: red; */
    
}
#about-sec
{
    display: flex;
    flex-basis: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    background-position: 100% 100%;
    background-size: 45% 25%;
    background-repeat: no-repeat;
}
#about-sec > #image > img
{
    position: absolute;
    width: 45%;
    height: 15%;
    top: 31.4%;
    right: 0%;
}
#heroimage
{
    background-color: rgb(88, 88, 88);
    color: white;
    padding-bottom: 10%;
    margin-bottom: 3%;
    background-image: url("../res/pexels-ken-tomita-389818.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: top;
    background-size: 100%;
    flex-grow: 1;
}
#heroimage > h1
{
    position: relative;
    top: 60%;
    width: 36%;
    left: 6%;
    animation-name: slide;
    animation-duration: 20s;
}
#heroimage > p
{
    position: relative;
    top: 65%;
    width: 36%;
    left: 6%;
    animation-name: slideup;
    animation-duration: 20s;
}
#heroimage > a
{
    position: relative;
    top: 99%;
    width: 36%;
    left: 6%;
    color: white;
    animation-name: faidein;
    animation-duration: 20s;
}
#about-sec > h2
{
    position: relative;
    left: 2%;
    width: 36%; 
    text-decoration: underline; 
}
#about-sec > p
{
    position: relative;
    left: 2%;
    width: 50%;
    margin-top: 2%;
}
#process
{
    display: grid;
    font-size: 120%;
    padding: 2%;
    grid-template-columns: repeat(3,2fr); 
    grid-template-rows: repeat(2fr);
    grid-gap: 2%;
    /*background-color: darkslategrey;*/
}
#process > h2
{
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    padding-left: 3%;
    text-decoration: underline;
    /* background-color: aquamarine; */
}
#process > .procees-info > h3
{
    padding: 3%;
    text-decoration: underline;
    /*background-color: rgb(7, 1, 2);*/
}
#process > .procees-info > p
{
    padding-left: 3%;
    /*background-color: rgba(180, 109, 17, 0.397);*/
}
#prijects
{
    background-color: darkslategrey;
}
#prijects > h2
{
    padding: 2%;
    text-decoration: underline;
}
#prijects > #project-con
{
    position: absolute;
    width: 100%;
    height: 20%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    box-sizing: content-box;
    overflow-y: scroll;
    overflow-x: none;
    justify-content: space-evenly;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
#prijects > #project-con::-webkit-scrollbar
{
    display: none;
}
#prijects > #project-con > .project-eg
{
    display: grid;
    width: 30%;
    height: 100%;
    margin: 20px;
    flex-basis: 270px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    /*background-color: olive;*/
}
#prijects > #project-con > .project-eg > .floting_cover
{
    width: 0%;
    height: 300%;
    margin: 0%;
    grid-area: 1 / -3;
    transform: translate(0px, -246px);
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    transition: width 270ms ease-in;
}
#prijects > #project-con > .project-eg > a
{
    display: none;
    width: 0%;
    height: 30%;
    justify-content: center;
    text-align: center;
    grid-area: 1/-3;
    font-size: 25px;
    font-weight: 100;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0;
    /*background-color: #616859;*/
    transition: width 2000s ease-in;
    transition: opacity 2500s ease-in 900s;
    z-index: 2;
}
#prijects > #project-con > .project-eg:hover .floting_cover
{
    cursor: pointer;
    border: 1px solid rgb(71, 70, 70);
    box-shadow: 10px 4px 7px rgb(39, 38, 38);
    width: 100%;
    z-index: 1;
}
#prijects > #project-con > .project-eg:hover a
{
    cursor: pointer;
    /*border: 1px solid rgb(71, 70, 70);*/
    /*box-shadow: 10px 4px 7px rgb(39, 38, 38);*/
    width: 100%;
    display: block;
    opacity: 5;
    
}
#prijects > #project-con > .project-eg:active
{
    border: 1px solid rgb(217, 217, 218);
    box-shadow: 0px 0px 0px rgb(39, 38, 38);
}
#prijects > #project-con > .project-eg > img
{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    grid-area: 1/-3;
    margin: 0%;
}
#leftbtn
{
   position: relative;
   display: block;
   flex-wrap: wrap;
   justify-content: space-around;
   top: 32%;
   left: 3%;
   width: 5%;
   height: 15%;
   background-color: rgba(102, 101, 101, 0.623);
   border: 1px solid rgb(109, 109, 109);
   /*background-image: linear-gradient(50deg,rgb(3, 80, 57),rgba(9, 240, 132, 0.993));*/
   /*background-size: 100%;
   background-position: right;*/
   border-radius: 50px;
   align-items: center;
   color: white;
   font-size: 25px; 
   transition: background-position 2s ease-in-out, background-image 2s ease-in; 
   z-index: 2;
}
#leftbtn:hover
{
    cursor: pointer;
    background-image: linear-gradient(50deg,black,rgb(6, 70, 50),rgba(7, 216, 118, 0.993));
    /*transition: background-image 2s ease-in-out;*/
    /*transition: fornt-size 2s ease-in-out;*/
    box-shadow: 2px 5px 10px black;
    font-size: 40px;
}
#leftbtn:active
{
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 0px black;
}
#rightbtn
{
   position: relative;
   display: block;
   flex-wrap: wrap;
   justify-content: space-around;
   top: 13%;
   left: 93%;
   width: 5%;
   height: 15%;
   background-color: rgba(102, 101, 101, 0.623);
   border: 1px solid rgb(109, 109, 109);
   border-radius: 50px;
   align-items: center;
   color: white;
   font-size: 25px;
   z-index: 2;
}
#rightbtn:hover
{
    cursor: pointer;
    background-image: linear-gradient(-50deg,black,rgb(6, 70, 50),rgba(7, 216, 118, 0.993));
    transition: background-image 2s ease-in-out;
    transition: fornt-size 2s ease-in-out;
    box-shadow: 2px 5px 10px black;
    font-size: 40px;
}
#rightbtn:active
{
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 0px black;
}
footer
{
    top: 280%;
    margin: 0%;
}
@media (max-width: 854px) 
{
    #heroimage
    {
        background-color: rgb(88, 88, 88);
        color: white;
        padding-bottom: 10%;
        margin-bottom: 3%;
        background-image: url("../res/pexels-ken-tomita-389818.jpg"); 
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-position: top;
        background-size: 20%;
        flex-grow: 1;
    } 
    #heroimage > a
    {
        position: relative;
        top: 60%;
        width: 36%;
        left: 6%;
        color: rgb(255, 255, 255);
        font-size: small;
    }
    #process > .procees-info > p
    {
        padding: 15%;
        border: 1px solid gainsboro;
        font-size: medium;
        background-color: rgb(73, 73, 73);
    }
    #process > h2
    {
        grid-column-start: 1;
        grid-column-end: 4;
        align-self: center;
        padding-left: 3%;
        text-decoration: underline;
        font-size: medium;
        /* background-color: aquamarine; */
    }
}
@keyframes slide
{
    0%{opacity: 0 ; left: 60%;}
    50%{opacity: 0.5; left: 30%;}
    100%{opacity: 1 ; left: 6%;}
}
@keyframes slideup
{
    0%{opacity: 0 ; top: 85%;}
    50%{opacity: 0.5; top: 75%;}
    100%{opacity: 1 ; top: 65%;}
}
@keyframes faidein
{
    0%{opacity: 0 ;}
    50%{opacity: 0.5;}
    100%{opacity: 1 ;}
}